
.container{
    margin: 50px;
    display: flex;
    gap: 10px;
}

.sub-container{
    display: flex;
    flex-direction: column;
    
}

.gtitle{
    margin: 50px;
}

.img img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
